@CHARSET "UTF-8";


.adv_block{ width:100%; height:289px;}
.img_2015080501{ width:100%; height:289px; background:url(../images/img_2015080501.png);background-position: 50% 0px;background-repeat: no-repeat no-repeat;position: absolute;}
.h_img{ width:1200px; height:89px; border-bottom:1px solid #e5e5e5;}
.Service{ background:url(../images/Service.png) no-repeat #fff;}
.Service_price{background:url(../images/Service_price.png) no-repeat #fff;}
.Process_con dd{ padding:49px 0 15px 102px;}
.Process_con dd .num{ float:left; display:block; width:39px; height:39px; line-height:39px; text-align:center; color:#757575; font-size:16px; margin-left:-54px;}
.Process_con dd ul li{ padding-left:14px; font-size:16px; line-height:30px; color:#383838; background:url(../images/go_r.png) no-repeat -0px 11px;}
.pt28{ padding-top:28px;}
.Process_con .one{ background:url(../images/Process_con_one.png) no-repeat;}
.Process_con .two{ background:url(../images/Process_con_two.png) no-repeat;}
.Process_con .three{ background:url(../images/Process_con_three.png) no-repeat;}
.Process_con .four{ background:url(../images/Process_con_four.png) no-repeat;}
.Process_con .five{ background:url(../images/Process_con_five.png) no-repeat;}
.Process_con .six{ background:url(../images/Process_con_six.png) no-repeat;}
.Process_con_bg_bottom{ height:56px; width:1200px; background:url(../images/Process_con_bg_bottom.png) no-repeat #fff 66px 3px;}
.mt20{ margin-top:20px}
.f16{ font-size:16px;}
.go-rz{ width:182px; height:39px; border:1px solid #ebebeb; color:#404040; display:block; margin:36px auto; cursor:pointer; font-size:14px; line-height:39px; text-align:center;}
.go-rz i{ color:#cccccc;}
.bg_f5f6fa{ background:#f5f6fa;}
.new_table  td {
    padding-right: 13px;
    padding-left: 13px;
    border:1px solid #e9e9e9;
}
.new_table tr{ border:1px solid #e9e9e9;}
.new_table .table_h{background:#5586dc; color:#fff; height:41px; line-height:41px; font-weight:bold; border:1px solid #5586dc;}

a.more {
    display: block;
    width: 185px;
    height: 45px;
    line-height: 45px;
    color: #444;
    border: 1px solid #ecebeb;
    text-align: center;
    margin: 36px auto;
}
a.more:hover{
    background: #5586dc;
    border: 1px solid #5586dc;
    color: #fff;
}
a.more em{
    color: #ccc;
}
@media screen and (min-width:1200px){}
@media screen and (min-width: 980px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 980px){}
@media screen and (max-width: 900px){}