.banner{
	height: 530px;
	background: url("../../images/o2o/jiazheng/banner.jpg") no-repeat center top;
}
/* function */
.function{
	background:#f5f5f5;
	height:1130px;
}
.function .function-list{
	width:1220px;
	margin: 30px auto 0;
}
.function .function-list li{
	width:228px;
	margin: 0 8px 16px;
	background:#fff;
	float: left;
	height:222px;
	padding-top: 40px;
}
.function .function-list li:hover{
	box-shadow:0 0 10px rgba(0, 0, 0, .3);
}
.function .function-list .function-ico{
	height:116px;
	background-image:url("../../images/o2o/jiazheng/function.png");
	background-repeat:no-repeat;
}
.function-ico-2{
	background-position:-228px 0;
}
.function-ico-3{
	background-position:-456px 0;
}
.function-ico-4{
	background-position:-684px 0;
}
.function-ico-5{
	background-position:-912px 0;
}
.function-ico-6{
	background-position:-1140px 0;
}
.function-ico-7{
	background-position:-1368px 0;
}
.function-ico-8{
	background-position:-1596px 0;
}
.function-ico-9{
	background-position:-1824px 0;
}
.function-ico-10{
	background-position:-2052px 0;
}
.function-ico-11{
	background-position:-2280px 0;
}
.function-ico-12{
	background-position:-2508px 0;
}
.function-ico-13{
	background-position:-2736px 0;
}
.function-ico-14{
	background-position:-2964px 0;
}
.function-ico-15{
	background-position:-3192px 0;
}
.function .function-list p{
	line-height: 106px;
	color:#000;
	font-size:20px;
	text-align: center;
}
/* service */
.service-list{
	width:1132px;
	margin: 0 auto;
	background:url("../../images/o2o/jiazheng/service-line.jpg") no-repeat center 98px;
}
.service-list-1{
}
.service-list ul{
	width:1068px;
	margin: 0 auto;
}
.service-list ul li{
	width:267px;
	float: left;
	margin-bottom:86px ;
	text-align: center;
}
.service-list .service-info{
	margin-top: 8px;
}
.service-list .service-tit{
	line-height: 44px;
	font-size:18px;
	color:#333;
}
.service-list .service-img{
	width:111px;
	height:111px;
	margin: 0 auto;
	background-image:url("../../images/o2o/jiazheng/service-bg.png");
	background-repeat:no-repeat;
}
.service-list .service-ico{
	width:111px;
	height:111px;
	background-repeat:no-repeat;
	background-image:url("../../images/o2o/jiazheng/service-ico.png");
}
.service-list li:hover .service-ico{
	-webkit-animation: icon-bounce .5s alternate;
	   -moz-animation: icon-bounce .5s alternate;
	    -ms-animation: icon-bounce .5s alternate;
	     -o-animation: icon-bounce .5s alternate;
	        animation: icon-bounce .5s alternate;
}
.service-list .service-ico-2{
	background-position:-111px 0;
}
.service-list .service-ico-3{
	background-position:-222px 0;
}
.service-list .service-ico-4{
	background-position:-333px 0;
}
.service-list .service-ico-5{
	background-position:-444px 0;
}
.service-list .service-ico-6{
	background-position:-555px 0;
}
.service-list .service-ico-7{
	background-position:-666px 0;
}
.service-list .service-ico-8{
	background-position:-777px 0;
}
/* public */
.choice-tab{
	background:#fff;
}
.choice-tab-item{
	background:#efefef;
	border-bottom:0;
	line-height: 54px;
	color:#666;
}
.choice-tab-item.active{
	border-bottom:0;
	background:#025061;
	color:#fff;
}
.choice-info .choice-img{
	background-color: #025061;
}
/* footer */
.o2o-footer{
	height:650px;
	background:#025061 url("../../images/o2o/public/o2o-footer.png") no-repeat center top;
}
.o2o-footer .o2o-code .code-tip{
	background:#fbe89e;
	color:#025061;
}
.o2o-footer .o2o-footer-list{
	width:720px;
}
.o2o-footer-list li{
	width:240px;
}
.o2o-footer-list .weixin{
	background:url("../../images/o2o/jiazheng/weixin.png") no-repeat;
}
.o2o-footer-list .ios{
	background:url("../../images/o2o/jiazheng/ios.png") no-repeat;
}
.o2o-footer-list .android{
	background:url("../../images/o2o/jiazheng/android.png") no-repeat;
}
.o2o-footer-list .pc{
	background:url("../../images/o2o/jiazheng/pc.png") no-repeat;
}
.footer-btn-box{
	height: 260px;
	padding-top: 35px;
}
.o2o-footer-btn{
	width:430px;
	border:0;
	line-height: 84px;
	border-radius: 42px;
	background:#025061;
}
.footer-btn-box .footer-tit{
	line-height: 104px;
	color:#666;
	font-size: 30px;
	text-align: center;
}